{% extends "master.html" %}

{% if liste %}

    {% block title %}
    {% endblock %}

    {% block content %}
        <div class="margin">
            <b>Appel du cursus </b>
            <div class="contain3 card">
                <form method="post">
                    {% csrf_token %}
                    <input type="date" name="date" required><br><br>
                    De <input type="time" value="08:00" name="debut">
                    A <input type="time" value="09:00" name="fin">
                    <!--
                    &nbsp;
                    <input type="time" name="time">
                    -->
                    {% for student in liste %}
                        <div class="description contain">
                            <a href="/lycee/student/{{student.id}}">{{student.first_name}} {{student.last_name}}</a>
                            <input type="checkbox" id="{{student.id}}" name="{{student.id}}">
                        </div>
                    {% endfor %}
                    <br>
                    <input type="submit">
                </form>
            </div>
        </div>
    {% endblock %}

{% else %}
    <p>No list to show.</p>
{% endif %}