{% extends "master.html" %}

{% if liste %}

    {% block title %}
        <h3>Qui est absent wolah ?</h3>
    {% endblock %}

    {% block content %}
        <div class="containerFlex2">
            <form method="post">
                {% csrf_token %}
                <input type="date" name="date">
                <!--
                &nbsp;
                <input type="time" name="time">
                -->
                    {% for student in liste %}
                        <div class="contain">
                            <a href="/lycee/student/{{student.id}}">{{student.first_name}} {{student.last_name}}</a>
                            <div class="description">
                                {{student.cursus}}
                                <input type="checkbox" id="{{student.id}}" name="{{student.id}}">
                            </div>
                        </div>
                    {% endfor %}
                <input type="submit">
            </form>
        </div>
    {% endblock %}

{% else %}
    <p>No student to show.</p>
{% endif %}