{% extends "master.html" %}

{% if liste %}

    {% block title %}
        <h3>Details of a Cursus</h3>
    {% endblock %}

    {% block content %}
        <div class="containerFlex2">
            {% for student in liste %}
                <div class="contain">
                    <a href="/lycee/student/{{student.id}}">{{student.first_name}} {{student.last_name}}</a>
                    <div class="description">{{student.cursus}}</div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}

{% else %}
    <p>No student to show.</p>
{% endif %}