{% extends "master.html" %}

{% if liste %}

    {% block title %}
    {% endblock %}

    {% block content %}
        <div class="margin">
            <b>Détails du Cursus </b>
            {{ cursus.name }}

            {% for student in liste %}
                <div class="contain3 card">
                    <a href="/lycee/student/{{student.id}}">{{student.first_name}} {{student.last_name}}</a>
                    <div class="helptext">{{student.email}}</div>
                </div>
            {% endfor %}

        </div>
    {% endblock %}

{% else %}
    <p>No cursus detail to show.</p>
{% endif %}