{% extends "master.html" %}
{% block title %}
{% endblock %}

{%  block content %}
    <div class="margin">
        <b>Appel Particulier</b>
        <div class="contain3 card">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="boutons">
                    <button class="button radius success left" type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}